@import "style.styl"

body
	width 100%
	background-color none
	border none
	
	header
		height 100px
		width 100%
		margin 0px
		padding 0px
		background-color white
		border-bottom solid 4px #f3af32
		position fixed
		top 0px
		z-index 9999
		
		figure
			height 70px
			width 220px
			margin 15px 0px 0px 100px
			padding 0px
			display inline-block
			
			img
				height 100%
				display inline-block

		nav
			height 70px
			width 550px
			margin 25px 50px 0px 0px
			padding 0px
			float right
			display block

			ul
				list-style none
				display block
				width 100%
				padding 0px
				vertical-align middle
				
				li
					list-style none
					text-decoration none
					display inline-block
					margin 0px 25px	
					padding 0px
					
					a
						text-decoration none
						margin 0px
						padding 0px
						padding-bottom 3px
						font-family "Exo 2"
						font-size 16px
						font-style italic
						font-weight normal
						color #6d6e71
						transition 0.3s

					a:hover
						border-bottom solid 2px #004b67
						color #004b67
							
			

	.vitrina
		width 100%
		background-color white
		position relative
		top 84px
		
		.wrapperVitrina
			width 1070px
			margin 80px auto 20px auto

			.vineta
				height 350px
				width 250px
				margin 0px 5px 20px 5px
				padding 0px
				border-bottom solid 5px #ccc
				display inline-block
				
				figure
					display block
					width 99.5%
					height 250px
					overflow hidden
					margin 0px
					padding 0px
					border solid 1px #ccc
					
					img
						width 100%
						margin 0px
						padding 0px
						
				div
					border-right solid 1px #ccc
					border-left solid 1px #ccc
					margin 0px
					padding 0px
					height 100px
					position relative
					top -10px
				
					h1, h2, h3
						margin-right 20px
						margin-left 20px

					h1
						margin-top 10px
						margin-bottom 10px
						padding 0px
						font-family "helvetica"
						font-size 1em
						font-weight bold
						font-style normal
						color #424242
						position relative
						top 10px

					h2, h3
						margin-top 5px
						margin-bottom 0px
						font-family "helvetica"
						font-size 0.9em
						font-weight normal
						font-style italic
						color #424242
						position relative
						top 5px
					h2
						margin-top 2px

					h3
						color #006e8a
						
			

	
	.segSubNav, .segFooter
		height 500px
		margin 0px
		padding 0px
		display block
		position relative
		top 104px

	.segFooter
		border none
		

	.segSubNav
		background-image: url("../img/ProductosAmarillo.jpg")
		background-repeat no-repeat
		background-attachment fixed
		background-position center
		background-size 100% 100%
		height 580px
		
		h3
			width 100%
			height 56px
			background-color #f3af32
			color #004b67
			text-align center
			margin 0px
			padding 60px 0px
			opacity 0.9
			border none
			display block
			font-family "Exo 2"
			font-weight 500
			font-size 2.5em
			
		.wrapperSubnav
			width 1000px
			margin 50px auto 0px auto
			padding 0px
			
			ul
				width 100%
				display block
				margin 0px
				padding 0px
				
				.botoneraSubnav
					width 310px
					border-bottom solid 3px #b97529
					height 135px
					margin 0px 10px 15px 10px
					padding 0px
					background-color #FAFAFA
					display inline-block
					position relative
					left 0px

					a
						display block
						width 100%
						margin 0px
						padding 0px
						height 100%
						text-decoration none
						
						span
							display inline-block
							background-color #E6E6E6
							width 75px
							height 100%
							margin 0px
							padding 0px
							
							.icoSubnav
								height 60px
								display block
								vertical-align middle
								margin 50% auto
						
						h1
							font-family "Exo 2"
							font-weight 300
							font-style italic
							font-size 1.9em
							float right
							width 150px
							padding 0px
							margin 40px 40px 0px 0px
							color #6d6e71
							display block
							line-height 0.9

				.nivelDesktop
					clear both
					position relative
					left 170px
	.segFooter
		background-color #00374e
		display block
		height 90px
		margin 0px
		padding 0px
		position relative
		border solid 1px #00374e
		position relative
		top 80px
		
		a
			text-decoration none
			width 450px
			margin 23px auto 0px auto
			display block
			p
				font-family "Exo 2"
				font-weight lighter
				font-size 1.1em
				color #f3af32
				display block
				position relative
				top -15px
			img
				height 40px
				margin 0px
				
			img, p
				display inline-block
				




