@import "style.styl"

body
	width 100%
	background-color none
	border none
	
	header
		height 100px
		width 100%
		margin 0px
		padding 0px
		border-bottom solid 4px #f3af32
		background-color white
		position fixed
		z-index 9999

		figure
			height 70px
			width 220px
			margin 15px 0px 0px 100px
			padding 0px
			display inline-block
			
			img
				height 100%
				display inline-block

		nav
			height 70px
			width 550px
			margin 25px 50px 0px 0px
			padding 0px
			float right
			display block

			ul
				list-style none
				display block
				width 100%
				padding 0px
				vertical-align middle
				
				li
					list-style none
					text-decoration none
					display inline-block
					margin 0px 25px	
					padding 0px
					
					a
						text-decoration none
						margin 0px
						padding 0px
						padding-bottom 3px
						font-family "Exo 2"
						font-size 16px
						font-style italic
						font-weight normal
						color #6d6e71
						transition 0.3s

					a:hover
						border-bottom solid 2px #004b67
						color #004b67
							
			
	.segBanner, .segSubNav, .segValores, .segContacto, .segFooter
		height 500px
		margin 0px
		padding 0px
		display block
		
	.segBanner

		.wrapperBanner
			display block
			margin 0 auto
			position relative
			top 0
			height 300px


			.slide
				display none
				vertical-align top
				margin 0px auto
				width 100%
				padding 0
				position absolute
				top 0

			.slide_visible
				display block

			.slide
				img
					display block
					width 100%
					margin 0px
					padding 0px
					
				.marco
					width 520px
					height 180px
					float right
					position relative
					top -300px
					right 100px
					margin 0px
					padding 0px
					.fondo
						height 100%
						width 100%
						margin 0px
						padding 0px
						background-color #004b67
						opacity 0.8
						border-radius 7px
						
					.cont
						width 100%
						height 100%
						border-left solid 10px #00a4dc
						position relative
						top -180px
						h1
							margin 0px
							padding 0px
							width 300px
							font-family "Exo 2"
							font-weight bold
							font-style normal
							font-size 2.1em
							position relative
							top 15px
							left 20px
							display block
							color white
						
						h2
							margin 0px
							padding 0px
							width 450px
							font-family "Exo 2"
							font-weight lighter
							font-style italic
							font-size 1.7em
							position relative
							top 15px
							left 20px
							display block
							color #f3af32



			.wrapperPaginacion
				height 20px
				width 120px
				margin 0 auto
				position relative
				top 555px
				float right
				right 80px

				.paginacion


				.paginacion:before
					content: "•"
					color white
					font-weight bold
					font-size 50px
					margin 0 4px

				.paginaVisible:before
					color #006e8a
					

		

	.segSubNav
		background-image: url("../img/ProductosAmarillo.jpg")
		background-repeat no-repeat
		background-attachment fixed
		background-position center
		background-size 100% 100%
		height 580px
		position relative
		top 150px
		.anclaSubnav
			position relative
			top -104px
		
		h3
			width 100%
			height 56px
			background-color #f3af32
			color #004b67
			text-align center
			margin 0px
			padding 60px 0px
			opacity 0.9
			border none
			display block
			font-family "Exo 2"
			font-weight 500
			font-size 2.5em
			
		.wrapperSubnav
			width 1000px
			margin 50px auto 0px auto
			padding 0px
			
			ul
				width 100%
				display block
				margin 0px
				padding 0px
				
				.botoneraSubnav
					width 310px
					border-bottom solid 3px #b97529
					height 135px
					margin 0px 10px 15px 10px
					padding 0px
					background-color #FAFAFA
					display inline-block
					position relative
					left 0px

					a
						display block
						width 100%
						margin 0px
						padding 0px
						height 100%
						text-decoration none
						
						span
							display inline-block
							background-color #E6E6E6
							width 75px
							height 100%
							margin 0px
							padding 0px
							
							.icoSubnav
								height 60px
								display block
								vertical-align middle
								margin 50% auto
						
						h1
							font-family "Exo 2"
							font-weight 300
							font-style italic
							font-size 1.9em
							float right
							width 150px
							padding 0px
							margin 40px 40px 0px 0px
							color #6d6e71
							display block
							line-height 0.9

				.nivelDesktop
					clear both
					position relative
					left 170px



	.segValores
		height 520px
		background-color #004b67
		position relative
		top 150px

		.anclaValores
			position relative
			top -104px
		
		h3
			width 100%
			height 56px
			background-color #00a4dc
			color white
			text-align center
			margin 0px
			padding 60px 0px
			opacity 0.9
			border none
			display block
			font-family "Exo 2"
			font-weight 500
			font-size 2.5em

		.wrapperIcoValores
			width 860px
			margin 0px auto 0px auto
			padding 0px
			height 310px
			border-bottom dotted 4px #006e8a
		

			span
				display block
				float left
				width 215px
				height 215px
				border-bottom solid 4px #00374e
				margin 0px
				padding 0px

				.icoValores
					display block
					height 70px
					margin 30px auto 0px auto
					padding 0px
				
				h4
					font-family "Exo 2"
					font-style italic
					font-weight 300
					font-size 1.6em
					color #FAFAFA
					text-align center
					width 87%
					line-height 1.1
					margin 10px auto
					padding 0px
					
			.bloqA
				background-color #005a79
			.bloqB
				background-color #006e8a
			.bloqC
				background-color #0080a5
			.bloqD	
				background-color #008ec0
					
	.segContacto
		height 500px
		background-color #004b67
		margin 0px
		padding 0px
		position relative
		top 150px

		.anclaContacto
			position relative
			top -104px

		h2
			width 600px
			height 56px
			color #f3af32
			text-align center
			margin 0px auto
			padding 30px 0px 60px 0px
			letter-spacing 1px
			display block
			font-family "Exo 2"
			font-weight 400
			font-size 2.1em

		.wrapperInfoContacto
			width 860px
			margin 30px auto 0px auto
			padding 0px
			height 400px

			.wrapperContactoA, .wrapperContactoB, .wrapperContactoC
				display block
				height 250px
				margin 0px
				padding 0px
				float left

				h6
					font-family "Exo 2"
					font-weight 300
					font-size 1.2em
					font-style italic
					color #f3af32
					margin 0px
					padding 0px
			
			.wrapperContactoA
				width 220px

				h6
					margin-left 23px

				.logoSegContacto
						height 65px
						margin-top 5px

				ul
					text-decoration none
					list-style none
					display block
					width 100%
					margin 15px auto 0px auto
					padding 0px

					li
						list-style none
						margin 0px
						padding 0px

						.datosContacto, span
							display inline-block
					
						.datosContacto
							color white
							font-family "Exo 2"
							font-size 0.9em
							font-weight 200
							font-style italic
							line-height 1
							margin 3px 0px 3px 2px

			
						.icoContE:before
							content:"@"
							color #f3af32
							font-weight normal
							font-size 1.2em
						

						.icon-oficina
							position relative
							top -15px	

						span
							font-size 0.8em

						
					

						

			.wrapperContactoB
				width 220px
				
				.mapa
					margin-top 10px

			.wrapperContactoC
				width 410px

				h6
					margin-left 8px

				#mensaje
					display inline
					width 371px
					height 130px

				.casillas
					background-color #0080a5
					height 20px
					margin 8px
					padding 8px 10px
					font-family "Exo 2"
					font-style italic
					font-size 0.9em
					color white
					font-weight lighter
					border none

				input::-webkit-input-placeholder {
				    color:    white;
				}
				input::-moz-placeholder {
				    color:    white;
				}
								
				textarea::-webkit-input-placeholder {
				    color:    white;
				}
				textarea::-moz-placeholder {
				    color:    white;
				}
				.iptA
					width 166px


				.btnEnviar
					display block
					border none
					padding 6px 0px
					margin 8px
					background-color #f3af32
					color white
					font-family "Exo 2"
					font-style italic
					font-weight normal
					font-size 1.4em
					width 190px

	.segFooter
		background-color #00374e
		display block
		height 90px
		margin 0px
		padding 0px
		position relative
		border solid 1px #00374e
		position relative
		top 150px
		
		a
			text-decoration none
			width 450px
			margin 23px auto 0px auto
			display block
			p
				font-family "Exo 2"
				font-weight lighter
				font-size 1.1em
				color #f3af32
				display block
				position relative
				top -15px
			img
				height 40px
				margin 0px
				
			img, p
				display inline-block
				


