@import "style.styl"

body
	width 100%
	background-color none
	border none
	height auto
	
	header
		height 100px
		width 100%
		margin 0px
		padding 0px
		background-color white
		position fixed
		z-index 9999
		box-shadow 0px 0px 14px black

		figure
			height 70px
			width 220px
			margin 15px 0px 0px 100px
			padding 0px
			display inline-block
			
			img
				height 100%
				display inline-block

		nav
			height 70px
			width 550px
			margin 25px 50px 0px 0px
			padding 0px
			float right
			display block

			ul
				list-style none
				display block
				width 100%
				padding 0px
				vertical-align middle
				
				li
					list-style none
					text-decoration none
					display inline-block
					margin 0px 25px	
					padding 0px
					
					a
						text-decoration none
						margin 0px
						padding 0px
						padding-bottom 3px
						font-family "Montserrat"
						font-size 14px
						font-weight normal
						color #6d6e71
						transition 0.1s

					a:hover
						border-bottom solid 2px #6d6e71
						color #6d6e71
							
			
	.contenedor
		margin 0px
		padding 0px
		display block
		position relative
		top -104px


	.contenidoA
		background-image url("../img/QuienesSomos01.png")
		background-size cover
		background-repeat no-repeat
		height 600px
		position relative
		top 50px
	.contenidoB
		background-image url('../img/QuienesSomos02.png')
		background-size cover
		background-repeat no-repeat
		height 600px
		position relative
		top 0px
	.contenidoC
		background-image url("../img/QuienesSomos03.png")
		background-size cover
		background-repeat no-repeat
		height 600px
		position relative
		top 0px

	.contenidoA, .contenidoB, .contenidoC

		.marco
			height 100%
			width 505px
			position relative
			top 0px
			


	.contenidoA
		.marco
			float right
			background-image url("../img/QuienesSomos01block.png")
			background-size cover
			background-repeat no-repeat
			
	.contenidoB
		.marco
			float left
			background-image url("../img/QuienesSomos02block.png")
			background-size cover
			background-repeat no-repeat
				
	.contenidoC
		.marco
			float right
			background-image url("../img/QuienesSomos03block.png")
			background-size cover
			background-repeat no-repeat
						
	.segFooter
		background-color #00506d
		display block
		height 70px
		margin 0px
		padding 0px
		position relative
		border solid 1px #00374e
		position relative
		top 0px
		
		a
			text-decoration none
			width 280px
			margin 23px auto 0px auto
			display block
			p
				font-family "Oxygen"
				font-weight lighter
				font-size 9px
				color #00a1a9
				display block
				position relative
				top -10px
			img
				height 25px
				margin 0px
				
			img, p
				display inline-block
				

				



				


