@import "style.styl"

body
	width 100%
	background-color none
	border none
	height 1975px
	
	header
		height 100px
		width 100%
		margin 0px
		padding 0px
		background-color white
		border-bottom solid 4px #f3af32
		position fixed
		z-index 9999
		
		figure
			height 70px
			width 220px
			margin 15px 0px 0px 100px
			padding 0px
			display inline-block
			
			img
				height 100%
				display inline-block

		nav
			height 70px
			width 550px
			margin 25px 50px 0px 0px
			padding 0px
			float right
			display block

			ul
				list-style none
				display block
				width 100%
				padding 0px
				vertical-align middle
				
				li
					list-style none
					text-decoration none
					display inline-block
					margin 0px 25px	
					padding 0px
					
					a
						text-decoration none
						margin 0px
						padding 0px
						padding-bottom 3px
						font-family "Exo 2"
						font-size 16px
						font-style italic
						font-weight normal
						color #6d6e71
						transition 0.3s

					a:hover
						border-bottom solid 2px #004b67
						color #004b67
							
			
	.contenedor
		margin 0px
		padding 0px
		display block
		position relative
		top -104px


	.contenidoA
		background-image url("../img/QuienesSomos01.jpg")
		height 700px
	.contenidoB
		background-image url('../img/QuienesSomos02.jpg')
		height 650px
		position relative
		top -104px
	.contenidoC
		background-image url("../img/QuienesSomos03.jpg")
		height 650px
		position relative
		top -104px

	.contenidoA, .contenidoB, .contenidoC
		background-repeat no-repeat
		background-position center
		background-size 100% 100%

		.marco
			height 220px
			width 435px
			position relative
			top 330px
			

			.fondo
				background-color #f3af32
				height 220px
				width 435px
				border-radius 10px
				opacity 0.7
				position relative
				top 0px	

			.cont
				height 220px
				width 435px
				border-left solid 7px #b97529
				position relative
				top -250px
				
				h1
					font-family "Exo 2"
					font-weight bold
					font-size 1.65em
					color #005a79
					margin 0px 15px 0px 15px
					padding 0px
					display block
					text-align left
					width 400px
					line-height 1

				h2
					font-family "Exo 2"
					font-weight normal
					font-size 1.5em
					font-style italic
					color white
					margin 0px 20px 0px 15px
					padding 0px
					display block
					text-align left
					width 400px
					line-height 1

	.contenidoA
		.marco
			float right
			right 130px
			.cont
				position relative
				top -220px
				h1
					position relative
					top 40px
				h2 
					position relative
					top 45px

	.contenidoB
		.marco
			float left
			right 0px
			left 110px
			top 190px

			.cont
				top -220px
				h1
					position relative
					top 40px
				h2
					position relative
					top 55px

	.contenidoC
		.marco
			float right
			right 110px
			.cont
				top -220px

				h1
					position relative
					top 25px
				h2 ul
					position relative
					top 20px
					padding 0px
					display block
					list-style none
					font-size 0.9em

					li:before
						content "> "
						
	.segFooter
		background-color #00374e
		display block
		height 90px
		margin 0px
		padding 0px
		position relative
		border solid 1px #00374e
		position relative
		top -110px
		overflow hidden
		
		a
			text-decoration none
			width 450px
			margin 23px auto 0px auto
			display block
			p
				font-family "Exo 2"
				font-weight lighter
				font-size 1.1em
				color #f3af32
				display block
				position relative
				top -15px
			img
				height 40px
				margin 0px
				
			img, p
				display inline-block
				



				


